<?xml version="1.0"?>

<!-- Here we define the robot, we named it "lbr_storz_endoscope" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lbr_storz_endoscope">

    <!--Import the lbr med7 macro -->
    <xacro:include filename="$(find lbr_description)/urdf/med7/med7_description.urdf.xacro"/>

    <!-- Include endoscope xacro -->
    <xacro:include filename="$(find storz_endoscope_description)/urdf/storz_endoscope_description.urdf.xacro"/>

    <!--  Arguments for the med7 macro  -->
    <xacro:arg name="robot_name" default="lbr"/>
    <xacro:arg name="sim" default="true"/>

    <!-- Arguments for endoscope xacro -->
    <xacro:arg name="endoscope_name" default="storz_endoscope"/>

    <!-- fix to world -->
    <link name="world"/>

    <!-- med -->
    <xacro:med7 parent="world" robot_name="$(arg robot_name)" sim="$(arg sim)"/>

    <!-- insert endoscope -->
    <xacro:storz_endoscope parent="$(arg robot_name)_link_ee" robot_name="$(arg robot_name)" endoscope_name="$(arg endoscope_name)"/>

</robot> 
