<?xml version="1.0"?>

<!-- Here we define the robot, we named it "lbr_storz_straight_exoscope_hsi" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lbr_storz_straight_exoscope_hsi">

    <!--Import the lbr med7 macro -->
    <xacro:include filename="$(find lbr_description)/urdf/med7/med7_description.urdf.xacro"/>

    <!-- Include exoscope xacro -->
    <xacro:include filename="$(find storz_straight_exoscope_hsi_description)/urdf/storz_straight_exoscope_hsi_description.urdf.xacro"/>

    <!--  Arguments for the med7 macro  -->
    <xacro:arg name="robot_name" default="lbr"/>

    <!-- Arguments for exoscope xacro -->
    <xacro:arg name="exoscope_name" default="storz_straight_exoscope_hsi"/>

    <!-- fix to world -->
    <link name="world"/>

    <!-- med -->
    <xacro:med7 parent="world" robot_name="$(arg robot_name)" sim="$(arg sim)"/>

    <!-- insert exoscope -->
    <xacro:storz_straight_exoscope_hsi parent="$(arg robot_name)_link_ee" robot_name="$(arg robot_name)" exoscope_name="$(arg exoscope_name)"/>

</robot> 
