<?xml version="1.0"?>

<!-- Here we define the robot, we named it "lbr_storz_tilt_endoscope" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lbr_storz_tilt_endoscope">

    <!--Import the lbr med7 macro -->
    <xacro:include filename="$(find lbr_description)/urdf/med7/med7_description.urdf.xacro"/>

    <!-- Include tilt_endoscope xacro -->
    <xacro:include filename="$(find storz_tilt_endoscope_description)/urdf/storz_tilt_endoscope_description.urdf.xacro"/>

    <!--  Arguments for the med7 macro  -->
    <xacro:arg name="robot_name" default="lbr"/>
    <xacro:arg name="sim" default="true"/>

    <!-- Arguments for tilt_endoscope xacro -->
    <xacro:arg name="tilt_endoscope_name" default="storz_tilt_endoscope"/>

    <!-- fix to world -->
    <link name="world"/>

    <!-- med -->
    <xacro:med7 parent="world" robot_name="$(arg robot_name)" sim="$(arg sim)"/>

    <!-- insert tilt_endoscope -->
    <xacro:storz_tilt_endoscope parent="$(arg robot_name)_link_ee" robot_name="$(arg robot_name)" tilt_endoscope_name="$(arg tilt_endoscope_name)"/>

</robot> 
